@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-8">
        <h1>Current Player Rankings</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Player</td>
                    <td>Points</td>
                </tr>
            </thead>
            <tbody>
                @foreach (FifaRankings.Data.RankingLeaderboard p in ViewBag.RankingsLeaderboard)
                {
                    <tr>
                        <td>@p.Player</td>
                        <td>@p.RankingPoints</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Player Handicaps</h2>
        <ol>
            @foreach (FifaRankings.Data.HandicapsRounded player in ViewBag.PlayerHandicaps)
            {
                <li>@player.FinalRoundedHandicap.Value.ToString(".0") | @player.Player</li>
            }
        </ol>

    </div>
</div>